In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/fish.csv')
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [4]:
perch_df = df.loc[df['Species']=='Perch']
perch_df.head()

   Species  Weight  Length1  Length2  Length3  Height   Width
72   Perch     5.9      7.5      8.4      8.8  2.1120  1.4080
73   Perch    32.0     12.5     13.7     14.7  3.5280  1.9992
74   Perch    40.0     13.8     15.0     16.0  3.8240  2.4320
75   Perch    51.5     15.0     16.2     17.2  4.5924  2.6316
76   Perch    70.0     15.7     17.4     18.5  4.5880  2.9415

In [5]:
perch_full = perch_df[['Length2','Height','Width']]
perch_weight = perch_df[['Weight']]

In [6]:
perch_full.head()

    Length2  Height   Width
72      8.4  2.1120  1.4080
73     13.7  3.5280  1.9992
74     15.0  3.8240  2.4320
75     16.2  4.5924  2.6316
76     17.4  4.5880  2.9415

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(perch_full, perch_weight, random_state = 42)

In [9]:
from sklearn.preprocessing import PolynomialFeatures

In [11]:
poly = PolynomialFeatures()
poly.fit([[3,5]])
poly.transform([[3,5]])

array([[ 1.,  3.,  5.,  9., 15., 25.]])

In [20]:
poly = PolynomialFeatures(include_bias=False)
poly.fit(X_train)
train_pol = poly.transform(X_train)

In [22]:
train_pol

array([[  19.6       ,    5.1376    ,    3.0368    ,  384.16      ,
         100.69696   ,   59.52128   ,   26.39493376,   15.60186368,
           9.22215424],
       [  22.        ,    5.875     ,    3.525     ,  484.        ,
         129.25      ,   77.55      ,   34.515625  ,   20.709375  ,
          12.425625  ],
       [  18.7       ,    5.1992    ,    3.1234    ,  349.69      ,
          97.22504   ,   58.40758   ,   27.03168064,   16.23918128,
           9.75562756],
       [  17.4       ,    4.588     ,    2.9415    ,  302.76      ,
          79.8312    ,   51.1821    ,   21.049744  ,   13.495602  ,
           8.65242225],
       [  36.        ,   10.6091    ,    6.7408    , 1296.        ,
         381.9276    ,  242.6688    ,  112.55300281,   71.51382128,
          45.43838464],
       [  25.        ,    6.4395    ,    3.6835    ,  625.        ,
         160.9875    ,   92.0875    ,   41.46716025,   23.71989825,
          13.56817225],
       [  40.        ,   11.9286    ,    7.1064    , 1600.        ,
         477.144     ,  284.256     ,  142.29149796,   84.76940304,
          50.50092096],
       [  39.        ,   12.4313    ,    7.3514    , 1521.        ,
         484.8207    ,  286.7046    ,  154.53721969,   91.38745882,
          54.04308196],
       [  43.        ,   11.9328    ,    7.2772    , 1849.        ,
         513.1104    ,  312.9196    ,  142.39171584,   86.83737216,
          52.95763984],
       [  22.        ,    5.64      ,    3.525     ,  484.        ,
         124.08      ,   77.55      ,   31.8096    ,   19.881     ,
          12.425625  ],
       [  20.        ,    5.082     ,    2.772     ,  400.        ,
         101.64      ,   55.44      ,   25.826724  ,   14.087304  ,
           7.683984  ],
       [  22.        ,    6.11      ,    3.525     ,  484.        ,
         134.42      ,   77.55      ,   37.3321    ,   21.53775   ,
          12.425625  ],
       [  24.        ,    7.293     ,    3.723     ,  576.        ,
         175.032     ,   89.352     ,   53.187849  ,   27.151839  ,
          13.860729  ],
       [  27.5       ,    7.1672    ,    4.335     ,  756.25      ,
         197.098     ,  119.2125    ,   51.36875584,   31.069812  ,
          18.792225  ],
       [  43.        ,   12.5125    ,    7.4165    , 1849.        ,
         538.0375    ,  318.9095    ,  156.56265625,   92.79895625,
          55.00447225],
       [  40.        ,   11.73      ,    7.225     , 1600.        ,
         469.2       ,  289.        ,  137.5929    ,   84.74925   ,
          52.200625  ],
       [  24.        ,    6.375     ,    3.825     ,  576.        ,
         153.        ,   91.8       ,   40.640625  ,   24.384375  ,
          14.630625  ],
       [  21.        ,    5.9175    ,    3.3075    ,  441.        ,
         124.2675    ,   69.4575    ,   35.01680625,   19.57213125,
          10.93955625],
       [  27.5       ,    7.0516    ,    4.335     ,  756.25      ,
         193.919     ,  119.2125    ,   49.72506256,   30.568686  ,
          18.792225  ],
       [  40.        ,   12.3808    ,    7.4624    , 1600.        ,
         495.232     ,  298.496     ,  153.28420864,   92.39048192,
          55.68741376],
       [  32.8       ,   10.03      ,    6.018     , 1075.84      ,
         328.984     ,  197.3904    ,  100.6009    ,   60.36054   ,
          36.216324  ],
       [  26.5       ,    7.168     ,    4.144     ,  702.25      ,
         189.952     ,  109.816     ,   51.380224  ,   29.704192  ,
          17.172736  ],
       [  36.5       ,   10.881     ,    6.864     , 1332.25      ,
         397.1565    ,  250.536     ,  118.396161  ,   74.687184  ,
          47.114496  ],
       [  13.7       ,    3.528     ,    1.9992    ,  187.69      ,
          48.3336    ,   27.38904   ,   12.446784  ,    7.0531776 ,
           3.99680064],
       [  22.7       ,    5.9532    ,    3.63      ,  515.29      ,
         135.13764   ,   82.401     ,   35.44059024,   21.610116  ,
          13.1769    ],
       [  15.        ,    3.824     ,    2.432     ,  225.        ,
          57.36      ,   36.48      ,   14.622976  ,    9.299968  ,
           5.914624  ],
       [  37.        ,   10.5717    ,    6.3666    , 1369.        ,
         391.1529    ,  235.5642    ,  111.76084089,   67.30578522,
          40.53359556],
       [  35.        ,   11.4884    ,    7.7957    , 1225.        ,
         402.094     ,  272.8495    ,  131.98333456,   89.56011988,
          60.77293849],
       [  28.7       ,    7.5852    ,    4.6354    ,  823.69      ,
         217.69524   ,  133.03598   ,   57.53525904,   35.16043608,
          21.48693316],
       [  23.5       ,    6.275     ,    3.725     ,  552.25      ,
         147.4625    ,   87.5375    ,   39.375625  ,   23.374375  ,
          13.875625  ],
       [  39.        ,   11.1366    ,    6.003     , 1521.        ,
         434.3274    ,  234.117     ,  124.02385956,   66.8530098 ,
          36.036009  ],
       [  21.        ,    5.6925    ,    3.555     ,  441.        ,
         119.5425    ,   74.655     ,   32.40455625,   20.2368375 ,
          12.638025  ],
       [  23.        ,    5.2185    ,    3.626     ,  529.        ,
         120.0255    ,   83.398     ,   27.23274225,   18.922281  ,
          13.147876  ],
       [  22.        ,    5.5225    ,    3.995     ,  484.        ,
         121.495     ,   87.89      ,   30.49800625,   22.0623875 ,
          15.960025  ],
       [  44.        ,   12.4888    ,    7.5958    , 1936.        ,
         549.5072    ,  334.2152    ,  155.97012544,   94.86242704,
          57.69617764],
       [  22.5       ,    6.792     ,    3.624     ,  506.25      ,
         152.82      ,   81.54      ,   46.131264  ,   24.614208  ,
          13.133376  ],
       [  19.        ,    5.6358    ,    3.0502    ,  361.        ,
         107.0802    ,   57.9538    ,   31.76224164,   17.19031716,
           9.30372004],
       [  37.        ,   10.835     ,    6.2646    , 1369.        ,
         400.895     ,  231.7902    ,  117.397225  ,   67.876941  ,
          39.24521316],
       [  22.        ,    6.11      ,    3.4075    ,  484.        ,
         134.42      ,   74.965     ,   37.3321    ,   20.819825  ,
          11.61105625],
       [  25.6       ,    6.561     ,    4.239     ,  655.36      ,
         167.9616    ,  108.5184    ,   43.046721  ,   27.812079  ,
          17.969121  ],
       [  42.        ,   12.8002    ,    6.8684    , 1764.        ,
         537.6084    ,  288.4728    ,  163.84512004,   87.91689368,
          47.17491856],
       [  34.5       ,   10.2565    ,    6.3875    , 1190.25      ,
         353.84925   ,  220.36875   ,  105.19579225,   65.51339375,
          40.80015625]])

- 릿지 : 계수를 제곱한 값을 기준으로 규제 
  - L2 norm : 모든 계수를 작게 만들지만 0은 되지 않음
- 라쏘:  계수의 절댓값을 기준으로 규제 
  - L1 norm : 불필요한 특성의 가중치를 0으로 만들음