In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/fish.csv')
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [5]:
perch_df = df.loc[df['Species']=='Perch']
perch_full = perch_df[['Length2','Height','Width']]
perch_weight = perch_df[['Weight']]

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(perch_full, perch_weight, random_state = 42)

### standardscaler을 활용하여 표준화 진행

In [9]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fitㅌ

In [ ]:
계속해서

In [7]:
import skelarn.prerpocessing from StandardScaler
ss = StandardScaler
ss.fit(X_train)
train_scaled =

SyntaxError: invalid syntax (822732526.py, line 1)

In [8]:
kn.classes_

NameError: name 'kn' is not defined

In [ ]:
로지스틱 회귀는 시그모이드 함수를 사용하는데 이거를 쓰는이유를 알아야 함 
- > 왜 사용하냐 ?