### 교차 검증과 그리드 서치

In [ ]:
- test data로만 학습하면 과적합이 발생할 수 있기 때문에, test data 상에서도 validation set을 나눠서 진행

In [2]:
import pandas as pd
wine = pd.read_csv('http://bit.ly/wine_csv_data')

In [3]:
wine

      alcohol  sugar    pH  class
0         9.4    1.9  3.51    0.0
1         9.8    2.6  3.20    0.0
2         9.8    2.3  3.26    0.0
3         9.8    1.9  3.16    0.0
4         9.4    1.9  3.51    0.0
...       ...    ...   ...    ...
6492     11.2    1.6  3.27    1.0
6493      9.6    8.0  3.15    1.0
6494      9.4    1.2  2.99    1.0
6495     12.8    1.1  3.34    1.0
6496     11.8    0.8  3.26    1.0

[6497 rows x 4 columns]

In [4]:
data = wine[['alcohol','sugar','pH']]
target = wine[['class']]

In [5]:
from sklearn.model_selection import train_test_split

X_train,X_test, y_train, y_test = train_test_split(data, target, random_state = 42)

In [6]:
sub_x, val_x, sub_y, val_y = train_test_split(X_train, y_train, random_state = 42)

In [7]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()
dt.fit(sub_x, sub_y)
print(dt.score(sub_x, sub_y))
print(dt.score(val_x, val_y))

0.9978106185002736
0.8497536945812808

- 과대적합되었다고 생각할 수 있음

In [9]:
from sklearn.model_selection import cross_validate

scores = cross_validate(dt, X_train, y_train)
scores['test_score']

array([0.86051282, 0.84717949, 0.8798768 , 0.85318275, 0.84291581])

- crossvalidate는 섞지 않음

In [12]:
from sklearn.model_selection import StratifiedKFold
splitter = StratifiedKFold()
scores = cross_validate(dt, X_train, y_train, cv=splitter)

In [14]:
scores

{'fit_time': array([0.00699925, 0.00900531, 0.00707603, 0.00699878, 0.00904393]),
 'score_time': array([0.00199986, 0.00311708, 0.00409579, 0.0030067 , 0.00194788]),
 'test_score': array([0.85846154, 0.85333333, 0.87474333, 0.85215606, 0.8449692 ])}